// BREAKPOINTS
$xs: 0px;
$sm: 360px;
$sm-l: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
//BREAKPOINTS

//ROUNDNESS
$roundness-1: 2px;
$roundness-2: 4px;
$roundness-3: 6px;
$roundness-4: 8px;
$roundness-5: 10px;
$roundness-6: 12px;
$roundness-7: 16px;
$roundness-8: 20px;
$roundness-9: 24px;
$roundness-10: 32px;
$roundness-100: 100vw;
//ROUNDNESS

//SIZES
$size-dx: 8px;

$size-1: $size-dx;
$size-2: $size-dx * 2;
$size-3: $size-dx * 3;
$size-4: $size-dx * 4;
$size-5: $size-dx * 5;
$size-6: $size-dx * 6;
$size-7: $size-dx * 7;
$size-8: $size-dx * 8;
$size-9: $size-dx * 9;
$size-10: $size-dx * 10;
$size-11: $size-dx * 11;
$size-12: $size-dx * 12;
$size-13: $size-dx * 13;
$size-14: $size-dx * 14;
$size-15: $size-dx * 15;
$size-16: $size-dx * 16;
$size-17: $size-dx * 17;
$size-18: $size-dx * 18;
$size-19: $size-dx * 19;
$size-20: $size-dx * 20;
//SIZES

// FONT WEIGHTS
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-bold: 900;
// FONT WEIGHTS
