.motion {
  width: max-content;
  height: max-content;
}

$speed1: 0.3s;
$speed2: 0.6s;
$speed3: 1s;
$speed4: 1.5s;
$speed5: 3s;


@keyframes spin {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(360deg);
  }
}

.spin-1 {
  animation: spin $speed1 linear infinite;
}
.spin-2 {
  animation: spin $speed2 linear infinite;
}
.spin-3 {
  animation: spin $speed3 linear infinite;
}
.spin-4 {
  animation: spin $speed4 linear infinite;
}
.spin-5 {
  animation: spin $speed5 linear infinite;
}

.spin-1, .spin-2, .spin-3, .spin-4, .spin-5 {
  animation-play-state: running;
  &.paused {
    animation-play-state: paused;
  }
} 

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}


.shake-1 {
  animation: shake $speed1 linear infinite;
}

.shake-2 {
  animation: shake $speed2 linear infinite;
}

.shake-3 {
  animation: shake $speed3 linear infinite;
}

.shake-4 {
  animation: shake $speed4 linear infinite;
}

.shake-5 {
  animation: shake $speed5 linear infinite;
}

.shake-1,
.shake-2,
.shake-3,
.shake-4,
.shake-5 {
  animation-play-state: running;

  &.paused {
    animation-play-state: paused;
  }
}