@use "@scss/global.scss" as *;

.input {
  width: 100%;
  font-size: 16px;

  input {
    font-size: 1em;
    font-weight: $light;
    color: theme-var(--black);
    padding: 0.6em 0.75em;
    letter-spacing: 0.03em;
    border-radius: 0.25em;
    border: 1px solid lighten(theme-var(--black), 60%);
    background-color: transparent;
    width: 100%;

    &:focus {
      border-color: $primary;
      outline: none;
    }

    &::placeholder {
      font-weight: $light;
    }
  }

  .label {
    font-size: 0.9375em;
    font-weight: $bold;
    position: relative;
    bottom: 4px;
  }

  .error {
    margin-top: 4px;
    margin-left: 12px;
    font-size: 0.75em;
  }
}
