@use "./variables.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

hr, a, button, div, span, label {
  margin: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.70rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {

}

h6 {

}

.s1 {
  font-size: 0.875rem;
}

.s2 {
  font-size: 0.75rem;
}

.subheader {
  font-size: 1rem;
  opacity: 0.6;
  font-weight: $bold;
}

button {
  font-size: 16px;
  padding: 1em 2em;
  background-color: #eeeeee;
  cursor: pointer;
}

