@use "./variables.scss" as *;

//handled styles:
// display: eg. n, sm-b
// width: eg. w-30, w-md-100
// max-width eg. maw-20, maw-lg-10
// min-width eg. miw-10, miw-xl-100
// height eg. h-4, 
// min-height, mih
// max-height, mah
// padding, p, 1-10, 1
// padding-top, pt, 1-10, 1
// padding-right, pr, 1-10, 1
// padding-bottom, pb, 1-10, 1
// padding-left, pl, 1-10, 1
// margin, m , 1-10, 1
// margin-top, mt, 1-10, 1
// margin-right, mr, 1-10, 1
// margin-bottom, mb, 1-10, 1
// margin-left, ml, 1-10, 1 
// opacity, op 0-100, 10
// order, or 1-20, 1
// font-size, fs 10-100, 1

@each $screen,
$size-value in $screen-sizes {

  @each $display-key,
  $display-value in $display-variants {
    @if $screen =="xs" {
      .#{$display-key} {
        display: $display-value;
      }
    }

    @else {
      @media (min-width: $size-value) {
        .#{$screen}-#{$display-key} {
          display: $display-value;
        }
      }

      ;
    }
  }

  ;
}

;

@each $screen,
$size-value in $screen-sizes {

  @each $percentage-key,
  $percentage-value in $percentage-variants {
    @if $screen =="xs" {
      .w-#{$percentage-key} {
        width: $percentage-value;
      }

      .miw-#{$percentage-key} {
        min-width: $percentage-value;
      }

      .maw-#{$percentage-key} {
        max-width: $percentage-value;
      }

      .h-#{$percentage-key} {
        height: $percentage-value;
      }

      .mih-#{$percentage-key} {
        min-height: $percentage-value;
      }

      .mah-#{$percentage-key} {
        max-height: $percentage-value;
      }
    }

    @else {
      @media(min-width: $size-value) {
        .w-#{$screen}-#{$percentage-key} {
          width: $percentage-value;
        }

        .miw-#{$screen}-#{$percentage-key} {
          min-width: $percentage-value;
        }

        .maw-#{$screen}-#{$percentage-key} {
          max-width: $percentage-value;
        }

        .h-#{$screen}-#{$percentage-key} {
          height: $percentage-value;
        }

        .mih-#{$screen}-#{$percentage-key} {
          min-height: $percentage-value;
        }

        .mah-#{$screen}-#{$percentage-key} {
          max-height: $percentage-value;
        }
      }
    }
  }
}

@each $screen,
$screen-value in $screen-sizes {

  @each $size-key,
  $size-value in $size-variants {
    @if $screen =="xs" {
      .p-#{$size-key} {
        padding: $size-value;
      }

      .pt-#{$size-key} {
        padding-top: $size-value;
      }

      .pl-#{$size-key} {
        padding-left: $size-value;
      }

      .pb-#{$size-key} {
        padding-bottom: $size-value;
      }

      .pr-#{$size-key} {
        padding-right: $size-value;
      }

      .m-#{$size-key} {
        margin: $size-value;
      }

      .mt-#{$size-key} {
        margin-top: $size-value;
      }

      .ml-#{$size-key} {
        margin-left: $size-value;
      }

      .mb-#{$size-key} {
        margin-bottom: $size-value;
      }

      .mr-#{$screen}-#{$size-key} {
        margin-right: $size-value;
      }
    }

    @else {
      @media(min-width: $screen-value) {
        .p-#{$screen}-#{$size-key} {
          padding: $size-value;
        }

        .pt-#{$screen}-#{$size-key} {
          padding-top: $size-value;
        }

        .pl-#{$screen}-#{$size-key} {
          padding-left: $size-value;
        }

        .pb-#{$screen}-#{$size-key} {
          padding-bottom: $size-value;
        }

        .pr-#{$screen}-#{$size-key} {
          padding-right: $size-value;
        }

        .m-#{$screen}-#{$size-key} {
          margin: $size-value;
        }

        .mt-#{$screen}-#{$size-key} {
          margin-top: $size-value;
        }

        .ml-#{$screen}-#{$size-key} {
          margin-left: $size-value;
        }

        .mb-#{$screen}-#{$size-key} {
          margin-bottom: $size-value;
        }

        .mr-#{$screen}-#{$size-key} {
          margin-right: $size-value;
        }
      }
    }
  }
}

@each $screen,
$screen-value in $screen-sizes {

  @each $percentage-key,
  $percentage-value in $percentage-variants {
    @if $screen =="xs" {
      .op-#{$percentage-key} {
        opacity: calc($percentage-key / 100);
      }
    }

    @else {
      @media(min-width: $screen-value) {
        .op-#{$screen}-#{$percentage-key} {
          opacity: calc($percentage-key / 100);
        }
      }
    }
  }
}

@each $screen,
$screen-value in $screen-sizes {
  @each $order-value in $order-variants {
    @if $screen =="xs" {
      .or-#{$order-value} {
        order: $order-value;
      }
    }

    @else {
      @media(min-width: $screen-value) {
        .or-#{$screen}-#{$order-value} {
          order: $order-value;
        }
      }
    }
  }
}

$start: 10;
$end: 100;

$font-sizes: "";

@for $i from $start +1 through $end {
  $font-sizes: append($font-sizes, $i, comma);
  $font-sizes: set-nth($font-sizes, 1, $start);
}


@each $screen,
$screen-value in $screen-sizes {
  @each $font-size in $font-sizes {
    @if $screen =="xs" {
      .fs-#{$font-size} {
        font-size: #{$font-size}px;
      }
    }

    @else {
      @media(min-width: $screen-value) {
        .fs-#{$screen}-#{$font-size} {
          font-size: #{$font-size}px;
        }
      }
    }
  }
}