@use "@scss/variables.scss" as *;
@use "@scss/mixins.scss" as *;

.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.grid {
  flex-wrap: wrap;
}

.light {
  font-weight: $light;
}
.regular {
  font-weight: $regular;
}
.bold {
  font-weight: $bold;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

// @each $bp-key, $bp-val in $breakpoints {
//   @each $wv-key, $wv-val in $width-variants {
//     @include mq-min($bp-val) {
//       .w-#{$bp-key}-#{$wv-key} {
//         width: $wv-val;
//       }
//     }
//   }
// }

// @each $bp-key, $bp-val in $breakpoints {
//   @each $pv-key, $pv-val in $position-variants {
//     @include mq-min($bp-val) {
//       .flex-#{$bp-key}-#{$pv-key} {
//         align-items: $pv-val;
//       }
//     }
//   }
// }

// @each $bp-key, $bp-val in $breakpoints {
//   @each $tr-key, $tr-val in $text-responsive {
//     @include mq-min($bp-val) {
//       .t-#{$bp-key}-#{$tr-key} *,
//       .t-#{$bp-key}-#{$tr-key} {
//         text-align: $tr-val;
//       }
//     }
//   }
// }

// @each $bp-key, $bp-val in $breakpoints {
//   @each $displ-key, $displ-val in $display-variants {
//     @include mq-min($bp-val) {
//       .d-#{$bp-key}-#{$displ-key} {
//         display: $displ-val;
//       }
//     }
//   }
// }

// @each $bp-key, $bp-val in $breakpoints {
//   @each $grid-key, $grid-val in $grid-values {
//     @include mq-min($bp-val) {
//       .#{$bp-key}-#{$grid-key} {
//         width: $grid-val;
//       }

//       .off-#{$bp-key}-#{$grid-key} {
//         margin-left: $grid-val;
//       }
//     }
//   }
// }

// @each $bp-key, $bp-val in $breakpoints {
//   @each $sv-key, $sv-val in $size-variants {
//     @each $mp-key, $mp-val in $margins-paddings {
//       @include mq-min($bp-val) {
//         .#{$mp-key}-#{$bp-key}-#{$sv-key} {
//           #{$mp-val}: $sv-val;
//         }
//       }
//     }
//   }
// }
