//COLORS
// Default theme
$theme-map-light: (
  --white: #fff,
  --black: #000
);

// Override the default light theme
$theme-map-dark: (
  --white: #000,
  --black: #fff
);
//COLORS

// BREAKPOINTS
$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
//BREAKPOINTS

// RESPONSIVE
$text-responsive: (
  l: "start",
  c: "center",
  r: "end"
);
// RESPONSIVE

//POSITION VARIANTS
$position-variants: (
  l: "flex-start",
  c: "center",
  r: "flex-end"
);
//POSITION VARIANTS

$width-variants: (
  u: unset,
  mc: max-content,
  100: 100%,
  i: initial
);

$grid-gutter-x: 32px;

$page-max-width: 1920px;

$size-dx: 8px;

$size-1: $size-dx;
$size-2: $size-dx * 2;
$size-3: $size-dx * 3;
$size-4: $size-dx * 4;
$size-5: $size-dx * 5;
$size-6: $size-dx * 6;
$size-7: $size-dx * 7;
$size-8: $size-dx * 8;
$size-9: $size-dx * 9;
$size-10: $size-dx * 10;
$size-11: $size-dx * 11;
$size-12: $size-dx * 12;
$size-13: $size-dx * 13;
$size-14: $size-dx * 14;
$size-15: $size-dx * 15;
$size-16: $size-dx * 16;
$size-17: $size-dx * 17;
$size-18: $size-dx * 18;
$size-19: $size-dx * 19;
$size-20: $size-dx * 20;

$size-variants: (
  0: 0px,
  1: $size-1,
  2: $size-2,
  3: $size-3,
  4: $size-4,
  5: $size-5,
  6: $size-6,
  7: $size-7,
  8: $size-8,
  9: $size-9,
  10: $size-10,
  11: $size-11,
  12: $size-12,
  13: $size-13,
  14: $size-14,
  15: $size-15,
  16: $size-16,
  17: $size-17,
  18: $size-18,
  19: $size-19,
  20: $size-20
);

$order-variants: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20;

$percentage-variants: (
  100: 100%,
  90: 90%,
  80: 80%,
  70: 70%,
  60: 60%,
  50: 50%,
  40: 40%,
  30: 30%,
  20: 20%,
  10: 10%,
  0: 0%
);

$margins-paddings: (
  m: margin,
  mt: margin-top,
  mr: margin-right,
  mb: margin-bottom,
  ml: margin-left,
  p: padding,
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left
);

$display-variants: (
  b: block,
  f: flex,
  n: none
);

$light: 300;
$regular: 400;
$bold: 700;

$grid-values: (
  0: calc((0 / 12) * 100%),
  1: calc((1 / 12) * 100%),
  2: calc((2 / 12) * 100%),
  3: calc((3 / 12) * 100%),
  4: calc((4 / 12) * 100%),
  5: calc((5 / 12) * 100%),
  6: calc((6 / 12) * 100%),
  7: calc((7 / 12) * 100%),
  8: calc((8 / 12) * 100%),
  9: calc((9 / 12) * 100%),
  10: calc((10 / 12) * 100%),
  11: calc((10 / 12) * 100%),
  12: calc((12 / 12) * 100%)
);
